.custom-cursor {
    position: fixed;
    width: 42px;
    height: 42px;
    background-color: rgba(255, 255, 255, 0.682); /* Set constant transparency */
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 9999; /* Keeps visibility */
}

/* Remove hover effect */
.custom-cursor.hovered {
    width: 54px;
    height: 54px;
    background-color: rgba(255, 255, 255, 0.3); /* Same as default */
}

/* Hide cursor on mobile */
@media (max-width: 768px) {
    .custom-cursor {
        display: none;
    }
}

/* Hide the default cursor globally */
* {
    cursor: none !important;
}
