
@keyframes logoEntrance {
  0% {
    transform: scale(3);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* SECTION1 CONTAINER */
.section1-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}



/* LOGO CONTAINER */
.logo-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30vw;
  max-width: 600px;
  aspect-ratio: 1/1;
}

/* BACKGROUND LOGO */
.logo-bg {
  position: absolute;
  width: 200%;
  height: auto;
  max-width: none;
  z-index: 0;
  transform: translate(-50%, -3%);
  left: 50%;
  transition: transform 0.8s ease-in-out;
}

/* FOREGROUND LOGO */
.logo {
  position: absolute;
  width: 120%;
  height: auto;
  max-width: none;
  z-index: 1;
  transform: translate(-12%, -3%);
  transition: transform 0.8s ease-in-out;
}

/* PRIZE POOL TEXT */
.prize-pool {
  position: relative;
  text-align: center;
  color: white;
  font-size: 1.5rem;
  margin-top: 90vh;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
}

/* RESPONSIVENESS */
@media screen and (max-width: 768px) {
  .marquee-track {
    font-size: 8vw; /* Bigger text for small screens */
  }

  .logo-container {
    width: 50vw;
  }
}

/* HOVER EFFECTS */
@media screen and (min-width: 769px) {
  .logo-container:hover .logo {
    transform: translate(-12%, -3%) scale(1.12);
  }

  .logo-container:hover .logo-bg {
    transform: translate(-50%, -4%) scale(1.05);
  }

  .logo {
    cursor: pointer;
  }
}
