#root {
  max-width: 1280px;
  text-align: center;
}

.card {
  padding: 2em;
}

/* body {
} */

/* Custom scrollbar for WebKit browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 8px; /* Adjust width */
}

::-webkit-scrollbar-track {
  background: linear-gradient(#9C35F6,#E38922); /* Track color */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #ffffff; /* Scrollbar color */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Hover effect */
  transform: scale(11.5rem);
}
