#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

body {
  background-image: url('/texture.png'); /* Adjust path if needed */
  background-repeat: repeat; /* Ensures infinite tiling */
  background-size: auto; /* Keeps the natural size of the texture */
}
